body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bbc6e4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7bb6d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #131212;
}

#crypto-select {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #f1f3f4ee;
    border-radius: 5px;
    outline: none;
}
#currency-select{
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #f1f3f4ee;
    border-radius: 5px;
    outline: none;  
}

#price-display {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #171b1b;
}
#crypto-amount{
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    width: 96%;
    border: 1px solid #8ac8e7ee;
    border-radius: 5px;
    outline: none;
}

